.required{
    color: rgb(199, 37, 37);
    background-color: rgb(219, 174, 174);
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: bold;
}

.center-content{
    text-align: center;
}